#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.page-root {
  background: var(--bg);
  min-height: 100vh;
  color: white;
  padding: 28px 48px;
  box-sizing: border-box;
}

@media (max-width: 1280px) {
  .page-root {
    padding: 16px;
  }
}
